includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 6
    phpVersion: 80300

services:
    -
        class: App\Rules\PHPStan\NoLaravelImportInDomainRule
        tags:
            - phpstan.rules.rule
